---
jenkins:
  systemMessage: "Configured automatically with JCasC plugin\n"
  numExecutors: {{ jenkins_executors }}
  #globalNodeProperties:
  #  - envVars:
  #      env:
  #        - key: FOO
  #          value: BAR
  # stops normal http communication
  #crumbIssuer:
  #  standard:
  #    excludeClientIPFromCrumb: false
#unclassified:
#  location:
#    url: "{{ ansible_default_ipv4.address }}"
tool:
  git:
    installations:
    - home: "git"
      name: "Default"
credentials:
  system:
    domainCredentials:
      - credentials:
          - string:
              scope: GLOBAL
              id: "az_subscription_id"
              secret: ${az_subscription_id} #Load from Hashicorp Vault
              description: "Azure Subscription ID"
          - string:
              scope: GLOBAL
              id: "az_client_id"
              secret: ${az_client_id} #Load from Hashicorp Vault
              description: "Azure Client ID"
          - string:
              scope: GLOBAL
              id: "az_secret"
              secret: ${az_secret} #Load from Hashicorp Vault
              description: "Azure Secret"
          - string:
              scope: GLOBAL
              id: "az_tenant"
              secret: ${az_tenant} #Load from Hashicorp Vault
              description: "Azure Tenant ID"
jobs:
  - script: >
      pipelineJob('aks-cluster') {
          definition {
              cpsScm {
                  scriptPath 'Jenkinsfile'
                  scm {
                    git {
                        remote {
                            url 'https://github.com/AdamGoldsmith/aks-cluster.git'
                        }
                        branch '*/master'
                        extensions {}
                    }
                  }
              }
          }
      }
  - script: >
      pipelineJob('register-jenkins-dns') {
          definition {
              cpsScm {
                  scriptPath 'Jenkinsfile'
                  scm {
                    git {
                        remote {
                            url 'https://github.com/tonyskidmore/register-jenkins-dns.git'
                        }
                        branch '*/master'
                        extensions {}
                    }
                  }
              }
          }
      }
  - script: >
      pipelineJob('test') {
          definition {
              cpsScm {
                  scriptPath 'Jenkinsfile'
                  scm {
                    git {
                        remote {
                            url 'https://github.com/tonyskidmore/jenkins-echo-test.git'
                        }
                        branch '*/master'
                        extensions {}
                    }
                  }
              }
          }
      }         